/******** start of the global**********/ 
body{
    background-color: #fff;
    font: {
        family:$roboto;
        size: 16px;
    }
}
ul,ol{
    list-style: none;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
/******** end of the global**********/ 